@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}
main {
  background-image: url(../Images/bamboo-fores.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 1310px;
}
.red-text {
  color: red;
  text-decoration: line-through;
}

.blue-text {
  color: blue;
  font-weight: bold;
}

.redacted {
  text-decoration: line-through;
}

.introduction-box {
  width: 40vw;
}

.introduction-box p {
  margin-top: 20px;
}

.panda-intro-english p {
  margin-top: 5px;
}
.hidden{
  display: none;
}
.playwrite-hu {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-content: space-between;
  border: 1px solid black;
}
.picture-box{
  position: relative;
  /* background-color: purple; */
}
.introduction-box{
  background-image: url(../Images/bamboo.jpg);
  position: flex;
  flex-direction: row;
  /* background-color: pink; */
  width:auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.panda-intro-english {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
.introduction-background{
  position: relative;
  left: 5vw;
  top: 50px;
  width: 40vw; 
  min-width: 520px;
  justify-content: center;
  background-color: #C19A6B;
  z-index: 3;
}
.clickable-rifle{
  position: relative;
  top: -200px;
  right: 50px;
  width: 80%;
  opacity: 1;
  z-index: 1;
}
.panda-image{
  position: relative;
  top: 500px;
  right: -270px;
}
.crosshair{
  cursor: crosshair;
}

.phase2{
  opacity: 80px;
}
.phase3{
  opacity: 0.4;
}

.header{
  display: flex;
  justify-content: space-between;
}
.site-text{
  left:50vw;
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  background-color: skyblue;
  padding: 0px 5px;
  border-radius: 12px;
}
.name-of-site{
  margin-top: 2px;
}
.select-box{
  font-size: 36px;
  border-radius: 12px;
  background-color: pink;
  color: rgba(0, 0, 0, 0.479);
  margin-top: 2px;
}
.select-box option{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.479);
}
.logo{
  position: relative;
  right: 32px;
  height: 48px;
}
.clickbait{
  padding-top: 50px;
  font-size: 42px;
}
.clickbait-text{
  text-decoration-line: underline;
  font-weight: 900;
  color: red;
  cursor: pointer;
}
.blinking{
  animation: blink 0.4s infinite;
}
@keyframes blink {
  0%,  100% {
      color: red; /* Text is visible */
  }
  50%{
    color: yellow; /* Text is invisible */
  }/* Text is invisible */
}
