@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  background-image: url(../Images/bamboo-fores.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}
.red-text {
  color: red;
  text-decoration: line-through;
}

.blue-text {
  color: blue;
  font-weight: bold;
}

.redacted {
  text-decoration: line-through;
}

.introduction-box {
  width: 40vw;
}

.introduction-box p {
  margin-top: 20px;
}

.panda-intro-english p {
  margin-top: 5px;
}
.hidden{
  display: none;
}
.playwrite-hu {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-content: space-between;
  border: 1px solid black;
}
.picture-box{
  position: relative;
  /* background-color: purple; */
}
.introduction-box{
  background-image: url(../Images/bamboo.jpg);
  position: relative;
  /* background-color: pink; */
  width:auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.panda-intro-english {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
.introduction-background{
  position: relative;
  left: 5vw;
  top: 50px;
  width: 40vw; 
  justify-content: center;
  background-color: #C19A6B;
}
.clickable-rifle{
  position: relative;
  top: -55px;
  width: 30vw;
  opacity: 0.4;
}
.panda-image{
  position: relative;
  top: 500px;
  right: -270px;
}
.crosshair{
  cursor: crosshair;
}

.phase2{
  opacity: 80px;
}
.phase3{
  opacity: 0.4;
}


